<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CrossTech PipeLine Enablers</title>
    <meta name="description" content="Finding Venture Capital Enablers">
    <meta name="author" content="CrossTech PipeLine Partners and Contributors">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<!-- FONTS I might want to use -->
  <link href='http://fonts.googleapis.com/css?family=Voces' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nova+Round' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cinzel:400,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= csrf_meta_tags %>
    <!-- Bootstrap -->
<!--     <link href="css/bootstrap.min.css" rel="stylesheet">
 -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>

<%= render partial: "layouts/navheader", locals: { navheader: @layouts } %>

<%#= render partial: "layouts/carousel", locals: { carousel: @layouts %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

<%#= render 'featurettes' %>

      <!-- START THE FEATURETTES -->


<%#= render 'feature2' %>
<%#= render 'feature3' %>

      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
<%#= render 'footer' %>

    </div><!-- /.container -->

  </body>
</html>
